In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('automobile_data.csv')
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [3]:
df.isna()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

# Replacing ? with na value

In [5]:
df['normalized-losses'].replace({'?' : 'na'},inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9140\2819691867.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['normalized-losses'].replace({'?' : 'na'},inplace=True)

In [6]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,na,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,na,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,na,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# Most expensive car according to price

In [7]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')     #replace any non-numeric values (e.g., strings like '?', 'unknown', etc.) with NaN

In [8]:
df = df.dropna(subset=['price'])               # dropna(): Removes rows with missing (NaN) values.
                                               #subset=['price']: Only considers missing values in the 'price' column.

In [9]:
most_expensive = df.loc[df['price'].idxmax()]    # .idxmax() → returns the index (row number) of the maximum value in the 'price' column.
                                                 # df.loc[...] → accesses the full row at that index using .loc.

In [10]:
print("Company:", most_expensive['make'])
print("Price: $", most_expensive['price'])

Company: mercedes-benz
Price: $ 45400.0

# Maxium Horse Power

In [11]:
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')  # convert to numbers
df = df.dropna(subset=['horsepower'])  # remove missing HP rows

max_hp = df.groupby('make')['horsepower'].max().sort_values(ascending=False)
display(max_hp)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9140\4163810631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')  # convert to numbers

make
jaguar           262.0
porsche          207.0
nissan           200.0
mercedes-benz    184.0
bmw              182.0
mercury          175.0
volvo            162.0
toyota           161.0
saab             160.0
alfa-romero      154.0
plymouth         145.0
dodge            145.0
mitsubishi       145.0
peugot           142.0
audi             140.0
mazda            135.0
subaru           111.0
volkswagen       110.0
honda            101.0
isuzu             90.0
chevrolet         70.0
Name: horsepower, dtype: float64

#  Total Count of cars

In [12]:
print(df['make'].value_counts())

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
alfa-romero       3
chevrolet         3
jaguar            3
isuzu             2
mercury           1
Name: count, dtype: int64

# Q)e new regulation

In [13]:
# Convert price column to numeric
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [14]:
# Drop rows with missing values in price or engine_location
df = df.dropna(subset=['price', 'engine-location'])

In [15]:
df['updated_price'] = df.apply(
    lambda row: row['price'] * 2 if row['engine-location'] == 'rear' else row['price'],
    axis=1
)

In [16]:
print(df[['make', 'engine-location', 'price', 'updated_price']].tail())

      make engine-location    price  updated_price
200  volvo           front  16845.0        16845.0
201  volvo           front  19045.0        19045.0
202  volvo           front  21485.0        21485.0
203  volvo           front  22470.0        22470.0
204  volvo           front  22625.0        22625.0

# Q)f sort the data frame according to car and price

In [17]:
sorted_df = df.sort_values(by=['make', 'price'])
print(sorted_df[['make', 'price']].head(10))

           make    price
0   alfa-romero  13495.0
1   alfa-romero  16500.0
2   alfa-romero  16500.0
3          audi  13950.0
5          audi  15250.0
4          audi  17450.0
6          audi  17710.0
7          audi  18920.0
8          audi  23875.0
10          bmw  16430.0

# Q)G  Create a new column which stores the number of doors in a car as integers.

In [18]:
print(df[['num-of-doors']])

    num-of-doors
0            two
1            two
2            two
3           four
4           four
..           ...
200         four
201         four
202         four
203         four
204         four

[199 rows x 1 columns]

In [30]:
# Create a new column which stores the number of doors in a car as integers.
df['num-of-doors'] = df['num-of-doors'].replace({'four': 4, 'two': 2, '?': None})

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9140\2254734116.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['num-of-doors'] = df['num-of-doors'].replace({'four': 4, 'two': 2, '?': None})

In [31]:
# Remove rows where number of doors is missing
df = df.dropna(subset=['num-of-doors'])

In [32]:
# Convert the column to integer type
df['num-of-doors'] = df['num-of-doors'].astype(int)

In [34]:
print(df[['make', 'num-of-doors']])

            make  num-of-doors
0    alfa-romero             2
1    alfa-romero             2
2    alfa-romero             2
3           audi             4
4           audi             4
..           ...           ...
200        volvo             4
201        volvo             4
202        volvo             4
203        volvo             4
204        volvo             4

[197 rows x 2 columns]

# Qh) Calculate which variable/feature/attribute is impacting the price of the car the most.

In [35]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'updated_price', 'num_of_doors'],
      dtype='object')

In [37]:
# Convert price and other numeric columns to numbers
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['engine-size'] = pd.to_numeric(df['engine-size'], errors='coerce')
df['curb-weight'] = pd.to_numeric(df['curb-weight'], errors='coerce')

In [38]:
# Drop rows with missing values in these columns
df = df.dropna(subset=['price', 'horsepower', 'engine-size', 'curb-weight'])

In [39]:
# Check correlation between price and other columns
correlations = df[['price', 'horsepower', 'engine-size', 'curb-weight']].corr()

In [40]:
print("Correlation with price:")
print(correlations['price'].sort_values(ascending=False))

Correlation with price:
price          1.000000
engine-size    0.873708
curb-weight    0.834732
horsepower     0.811953
Name: price, dtype: float64

# Qi) Concatenate the two data frames given below firstly row wise and secondly column wise

In [46]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845,
171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995,
23600, 61500 , 58900]}

german = pd.DataFrame(GermanCars)
japanese = pd.DataFrame(japaneseCars)

row_concat = pd.concat([german, japanese], ignore_index=True)
print(row_concat)

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
4       Toyota   29995
5        Honda   23600
6       Nissan   61500
7  Mitsubishi    58900

In [47]:
col_wise = pd.concat([german, japanese], axis=1)
print("\nColumn-wise Concatenation:")
print(col_wise)

Column-wise Concatenation:
    Company   Price      Company  Price
0      Ford   23845       Toyota  29995
1  Mercedes  171995        Honda  23600
2       BMV  135925       Nissan  61500
3      Audi   71400  Mitsubishi   58900

# Qj) Save the first and last 15 records of the dataframe in a separate excel sheet.

In [49]:
first_15 = df.head(15)

In [50]:
first_15

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,updated_price,num_of_doors
0,3,na,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000,21,27,13495.0,13495.0,2
1,3,na,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000,21,27,16500.0,16500.0,2
2,1,na,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154.0,5000,19,26,16500.0,16500.0,2
3,2,164,audi,gas,std,4,sedan,fwd,front,99.8,...,3.19,3.4,10.0,102.0,5500,24,30,13950.0,13950.0,4
4,2,164,audi,gas,std,4,sedan,4wd,front,99.4,...,3.19,3.4,8.0,115.0,5500,18,22,17450.0,17450.0,4
5,2,na,audi,gas,std,2,sedan,fwd,front,99.8,...,3.19,3.4,8.5,110.0,5500,19,25,15250.0,15250.0,2
6,1,158,audi,gas,std,4,sedan,fwd,front,105.8,...,3.19,3.4,8.5,110.0,5500,19,25,17710.0,17710.0,4
7,1,na,audi,gas,std,4,wagon,fwd,front,105.8,...,3.19,3.4,8.5,110.0,5500,19,25,18920.0,18920.0,4
8,1,158,audi,gas,turbo,4,sedan,fwd,front,105.8,...,3.13,3.4,8.3,140.0,5500,17,20,23875.0,23875.0,4
10,2,192,bmw,gas,std,2,sedan,rwd,front,101.2,...,3.5,2.8,8.8,101.0,5800,23,29,16430.0,16430.0,2
11,0,192,bmw,gas,std,4,sedan,rwd,front,101.2,...,3.5,2.8,8.8,101.0,5800,23,29,16925.0,16925.0,4
12,0,188,bmw,gas,std,2,sedan,rwd,front,101.2,...,3.31,3.19,9.0,121.0,4250,21,28,20970.0,20970.0,2
13,0,188,bmw,gas,std,4,sedan,rwd,front,101.2,...,3.31,3.19,9.0,121.0,4250,21,28,21105.0,21105.0,4
14,1,na,bmw,gas,std,4,sedan,rwd,front,103.5,...,3.31,3.19,9.0,121.0,4250,20,25,24565.0,24565.0,4
15,0,na,bmw,gas,std,4,sedan,rwd,front,103.5,...,3.62,3.39,8.0,182.0,5400,16,22,30760.0,30760.0,4

In [51]:
last_15 = df.tail(15)

In [52]:
last_15

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,updated_price,num_of_doors
190,3,256,volkswagen,gas,std,2,hatchback,fwd,front,94.5,...,3.19,3.4,8.5,90.0,5500,24,29,9980.0,9980.0,2
191,0,na,volkswagen,gas,std,4,sedan,fwd,front,100.4,...,3.19,3.4,8.5,110.0,5500,19,24,13295.0,13295.0,4
192,0,na,volkswagen,diesel,turbo,4,sedan,fwd,front,100.4,...,3.01,3.4,23.0,68.0,4500,33,38,13845.0,13845.0,4
193,0,na,volkswagen,gas,std,4,wagon,fwd,front,100.4,...,3.19,3.4,9.0,88.0,5500,25,31,12290.0,12290.0,4
194,-2,103,volvo,gas,std,4,sedan,rwd,front,104.3,...,3.78,3.15,9.5,114.0,5400,23,28,12940.0,12940.0,4
195,-1,74,volvo,gas,std,4,wagon,rwd,front,104.3,...,3.78,3.15,9.5,114.0,5400,23,28,13415.0,13415.0,4
196,-2,103,volvo,gas,std,4,sedan,rwd,front,104.3,...,3.78,3.15,9.5,114.0,5400,24,28,15985.0,15985.0,4
197,-1,74,volvo,gas,std,4,wagon,rwd,front,104.3,...,3.78,3.15,9.5,114.0,5400,24,28,16515.0,16515.0,4
198,-2,103,volvo,gas,turbo,4,sedan,rwd,front,104.3,...,3.62,3.15,7.5,162.0,5100,17,22,18420.0,18420.0,4
199,-1,74,volvo,gas,turbo,4,wagon,rwd,front,104.3,...,3.62,3.15,7.5,162.0,5100,17,22,18950.0,18950.0,4
200,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114.0,5400,23,28,16845.0,16845.0,4
201,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,...,3.78,3.15,8.7,160.0,5300,19,25,19045.0,19045.0,4
202,-1,95,volvo,gas,std,4,sedan,rwd,front,109.1,...,3.58,2.87,8.8,134.0,5500,18,23,21485.0,21485.0,4
203,-1,95,volvo,diesel,turbo,4,sedan,rwd,front,109.1,...,3.01,3.4,23.0,106.0,4800,26,27,22470.0,22470.0,4
204,-1,95,volvo,gas,turbo,4,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114.0,5400,19,25,22625.0,22625.0,4

In [54]:
first_15.to_csv('first_15_records.csv', index=False)

In [55]:
last_15.to_csv('last_15_records.csv', index=False)

In [56]:
print("CSV files saved: 'first_15_records.csv' and 'last_15_records.csv'")

CSV files saved: 'first_15_records.csv' and 'last_15_records.csv'